/* Write your CSS here */

.appointment-item {
  display: flex;
  border: 1px solid #b5b7c4;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  height: 70px;
  width: 220px;
}
.star-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: 7px;
  margin-left: auto;
}
.star {
  width: 17px;
  height: 17px;
}
.item-title {
  font-size: 13px;
}

.date {
  font-size: 12px;
  color: #b5b7c4;
  font-weight: 400;
}
